[Desktop Entry]
Categories=Notes
Comment=a markdown editor meant to be nimble
Exec=nimble
StartupWMClass=nimble
Icon=nimble
Name=nimble
Terminal=false
Type=Application